{erl_opts, []}.

{dialyzer,
 [{warnings,
   [unknown,
    unmatched_returns,
    error_handling,
    underspecs
]}]}.

{deps, [
    {stringprep, "1.0.29"}
]}.

{project_plugins, [
    pc,
    rebar3_hex,
    rebar3_ex_doc
]}.

{artifacts, [
    "priv/jid.so"
]}.

{port_specs, [
    {
        ".*",
        "priv/jid.so",
        ["c_src/*.c"],
        [{env, [{"CFLAGS", "$CFLAGS -std=c99 -O3 -Wall -Wextra -fPIC"}]}]
     }
]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
     ]}
 ]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_export_enabled, true},
        {deps, [{proper, "1.4.0"}]},
        {plugins, [{rebar3_codecov, "0.6.0"}]},
        {port_env,
         [{"CFLAGS", "$CFLAGS -std=c99 -O2 -g -Wall -Wextra -fPIC --coverage"},
          {"LDFLAGS", "$LDFLAGS --coverage"}
         ]}
     ]},
    {prod, [
        {erl_opts, [deterministic]},
        {port_env,
         [{"CFLAGS", "$CFLAGS -std=c99 -O3 -Wall -Wextra -fPIC"}]}
     ]}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
{ex_doc, [
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"readme">>},
     {source_url, <<"https://github.com/esl/mongoose_jid">>}
]}.
